---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import Layout from "@layouts/Layout.astro";
import Prose from "@components/Prose.astro";
import Navigation from "@components/Navigation.astro";

import mouseScrollGif from "../../assets/images/mouse-scroll.gif";
import buttonToWebsite from "../../assets/images/button-to-website.svg";

export async function getStaticPaths() {
  const works = await getCollection("works");
  return works.map((work) => ({
    params: { slug: work.slug },
    props: { work },
  }));
}

const posts = await getCollection("works");

function getNextWork() {
  let postIndex;
  for (const post of posts) {
    if (post.slug === Astro.params.slug) {
      postIndex = posts.indexOf(post);
      return posts[postIndex + 1];
    }
  }
}
function getPreviousWork() {
  let postIndex;
  for (const post of posts) {
    if (post.slug === Astro.params.slug) {
      postIndex = posts.indexOf(post);
      return posts[postIndex - 1];
    }
  }
}
const previousWork = getPreviousWork();
const nextWork = getNextWork();

const { work } = Astro.props;
const { Content } = await work.render();
---

<Layout title={`${work.data.title} · Réalisations`}>
  <div class="w-full p-6 pb-12">
    <a href="/works" class="inline-flex align-center">
      <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M1 12.5L24 12.5M1 12.5V12.5C4.96072 13.7377 7.91025 17.0671 8.66148 21.1481L9.18644 24M1 12.5V12.5C4.97897 11.1449 7.91949 7.75161 8.69473 3.62034L9.18644 0.999999"
          stroke="#3D5361"></path>
      </svg>
      <span class="pt-0.5 pl-6 hover:pl-10 text-sm transition-all">Retour à la galerie</span>
    </a>
  </div>
  <div class="container">
    <div class="flex flex-col lg:flex-row items-start">
      <div class="w-full lg:w-2/5 lg:mr-[10%]">
        <Prose>
          <Content />
        </Prose>
        {
          work.data.websiteUrl && (
            <a href={work.data.websiteUrl} target="_blank" class="group w-20 h-20 md:w-24 md:h-24 inline-flex mt-12">
              <Image
                src={buttonToWebsite}
                alt={`Vers le site de ${work.data.title}`}
                class="group-hover:opacity-75 group-hover:scale-95 transform-gpu transition-all"
              />
            </a>
          )
        }
      </div>
      <div
        class="relative w-full h-full lg:w-1/2 mt-24 lg:mt-0 grow-1 shrink-0 px-3 sm:px-6 md:px-12 py-3 sm:py-6 md:py-12 xl:py-20 bg-gradient-to-tr via-gray-100 gradient rounded-xl sm:rounded-2xl md:rounded-3xl"
      >
        <Image
          src={mouseScrollGif}
          alt="Scrollez !"
          class="absolute top-0 left-1/2 w-auto h-12 md:h-[3.75rem] -translate-x-1/2 -translate-y-12 md:-translate-y-[3.75rem]"
        />
        <div
          class="h-60 sm:h-80 md:h-[25rem] lg:h-80 xl:h-[30rem] shadow-2xl overflow-y-auto scrolling-touch scrollbar-none overscroll-none"
        >
          <Image src={work.data.image} alt="" class="" />
        </div>
      </div>
    </div>
    <Navigation previousWork={previousWork} nextWork={nextWork} />
  </div>
</Layout>

<style>
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .gradient {
    background: #f1f1f1;
    background: linear-gradient(45deg, #f1f1f1, #ffffff);
  }
</style>
